.body {
    background-image: url(Images/booklibrary-background-1.jpg);
    background-attachment: fixed;
    background-size: contain;
    opacity: 0.9;
/*    display: grid;*/
/*    grid-template-rows: 5% 15% 5% 70% 5%;*/
    font-family: 'Grand Hotel', cursive;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.header {
/*    grid-row-start: 2;*/
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
/*    margin-top: 50px;*/
    margin-bottom: 30px;
}

.header div {
    width: 50%;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#search-bar {
    border-radius: 25px;
    padding-left: 5px;
}

.section {
/*    grid-row-start: 4;*/
    height: 100%;
/*    background-color: rgba(255, 255, 255, 0.7);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    border-radius: 25px;
    padding-top: 25px;
}
.image-portada {
    width: 100%;
    height: 400px;
/*    object-fit: contain;*/
}
.empty-div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    font-size: 45px;
}


/*CSS TO FLIP */


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
/*    border: 1px solid red;*/
    height: 400px;
    width: 30%;
    margin: 1%
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
/*    border: 1px solid green;*/
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background-color: rgb(255, 199, 65);
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title-book {
    font-weight: bold;
    font-size: 25px;
}
.title-book p {
    text-align: center;
}
.description-book {
    
    padding-left: 5px;
    padding-right: 5px;
    
}
.more-info-book {
    display: flex;
    flex-direction: column;
    align-items: center
}
.button-book{
/*    width: 30%;*/
    background-color: #fec21a;
    
}
